<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_02___TypedDataSet.Properties.Settings.AdventureWorksLT_DataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Mike\Documents\Presentations\DataSets\01 - DataSet Basics\App_Data\AdventureWorksLT_Data.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>